OPENVPNMONITOR_DEFAULT_SITE=VPN
OPENVPNMONITOR_DEFAULT_LATITUDE=40
OPENVPNMONITOR_DEFAULT_LONGITUDE=-74
OPENVPNMONITOR_DEFAULT_MAPS=True
OPENVPNMONITOR_SITES_0_HOST=openvpn
OPENVPNMONITOR_SITES_0_NAME=VPN
OPENVPNMONITOR_SITES_0_PORT=5555
